.ctaList {
	display: block;
	text-align: center;
	
	button {
		border: 1px #000 solid;
		text-align: center;
		margin: 10px;
		width: 147px;
		height: 147px;
		vertical-align: top;
		display: inline-block;
		span {
			vertical-align: top;
			font-size: 55px;
			margin-top: 15px;
			display: block;
		}
		h2 {
			vertical-align: top;
			font-size: 14px;
			display: block;
		}
		p {
			vertical-align: top;
			font-size: 9px;
		}
		div {
			height: 62px;
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
	}
}