

.name {
	font-weight: 500;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category {
	font-size: 13px;
	font-weight: 500;
	opacity: 0.6;
}
.district {
	font-size: 12px;
	font-weight: 100;
	opacity: 0.6;
}
.price {
	font-size: 12px;
	font-weight: 500;
	opacity: 0.8;
	margin-top: 3px;
}
.ListItem {
	width: 100%;	
	display: flex;
	flex-flow: row nowrap;
	background: #162f3e;
	color: #fff;
	overflow: hidden;
	margin-bottom: 1px;
	&.hotel {
		background: #312f57;
	}
	.imageWrapper {
		padding: 10px;
	}
	.contentWrapper {
		padding: 10px 0;
		flex: 1;
		overflow: hidden;
		span {
			display: block;
		}
	}
	.locationWrapper {
		padding: 5px;
		min-width: 80px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.Recommendation {
		flex: 1;
		text-align: right;
	}
}
