
.wrapper {
	padding: 6px 10px;
	
}
.name {
	font-weight: 500;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	color: #010002;
	text-overflow: ellipsis;
}
.category {
	font-size: 11px;
	font-weight: 500;
	color: #999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.district {
	font-size: 11px;
	font-weight: 500;
	color: #999;
}
.price {
	font-size: 11px;
	font-weight: 500;
	color: #999;
}
.ListItem {
	width: 100%;	
	display: flex;
	border-radius: 10px;
	flex-flow: row nowrap;
	background: #fff;
	color: #000;
	height: 135px;
	overflow: hidden;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.29);

	&:focus {
		background: #f4f4f4;
	}
	&.hotel {
		background: #312f57;
		&:focus {
			background: #776288;
		}
	}
	.imageWrapper {
		padding: 0;
	}
	.contentWrapper {
		padding: 6px 0 6px 10px;
		display: flex;
		width: 100%;
		overflow: hidden;
		flex-direction: column;
		height: 135px;
		> span {
			display: block;
		}
	}
	.bottomPart {
		padding: 5px 0;
	}
	.recommendationWrapper {
		display: inline-block;
	}
	.locationWrapper {
		padding: 0 5px;
		min-width: 80px;
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: flex-end;
	}
	.Recommendation {
		flex: 1;
		text-align: right;
	}
}
