.Comments {
	padding: 20px 0;
}
.Comment {
	padding: 0 10px;
	width: 100%;
	display: block;
	.user {
		width: 60px;
		display: inline-block;
		vertical-align: bottom;
	}
	.avatar {
		display: block;
		margin: 0 auto;
		width: 35px;
	}
	.name {
		font-size: 10px;
		width: 100%;
		display: block;
		margin: 0 auto;
		text-align: center;
		background: #fff;
	}
	
	.rating {
		font-size: 13px;
		padding: 0px 8px;
		margin-top: -1px;
		color: #fbc33e;
	}
	.rightContainer {
		width: calc(100% - 61px);
		display: inline-block;
		vertical-align: bottom;
	}
	.comment {
		display: inline-block;
		background: #eee;
		padding: 5px 10px;
		font-size: 10px;
		border-radius: 10px;
		position: relative;
		vertical-align: bottom;
	}
}