.Image {
	background: #ddd;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.Distance {
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	text-align: right;
}

.name {
	font-weight: 500;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category {
	font-size: 12px;
	font-weight: 500;
	opacity: 0.6;
}
.district {
	font-size: 12px;
	font-weight: 300;
	opacity: 0.6;
}

.ListItem {
	width: 100%;	
	display: flex;
	flex-flow: row nowrap;
	background: #162f3e;
	color: #fff;
	overflow: hidden;
	margin-bottom: 1px;
	.imageWrapper {
		padding: 10px;
	}
	.contentWrapper {
		padding: 10px;
		flex: 1;
		max-width: 170px;
		span {
			display: block;
		}
	}
	.locationWrapper {
		padding: 5px;
		min-width: 50px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.Recommendation {
		flex: 1;
		text-align: right;
	}
}
.MapItem {
	width: 100%;	
	display: flex;
	flex-flow: row nowrap;
	background: #162f3e;
	color: #fff;
	overflow: hidden;
	margin-bottom: 1px;
	.imageWrapper {
		padding: 5px;
	}
	.contentWrapper {
		padding: 5px;
		flex: 1;
		span {
			display: block;
		}
		.name {
			font-weight: 500;
			font-size: 12px;
		}
		.Distance {
			text-align: left;
			font-size: 20px;
		}
	}
}
.MapMarker {
	display: block;
	width: 10px;
	height: 10px;
	overflow: hidden;
	background: #162f3e;
}
