.Recommendation {
	display: block;
	span {
		font-size: 6px;
		line-height: 12px;
		display: block;
		background: #0f1a2b;
		border-radius: 10px;
		color: #fff;
		padding: 0 9px;
		min-width: 63px;
		text-align: center;
		text-transform: uppercase;
	}
}