$imagePadding: 10px;
$imageWidth: 61px;
$districtWidth: 200px;

.Image {
	width: 50px;
	height: 50px;
	background: #ddd;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.Recommendation {
	flex: 1;
}
.DistanceTo {
	width: 100%;
	font-size: 30px;
	text-align: right;
}
.ListItem {
	width: 100%;	
	display: flex;
	flex-flow: row nowrap;
	background: #162f3e;
	color: #fff;
	margin-bottom: 1px;
}
.ImageWrapper {
	padding: 10px;
}
.ContentWrapper {
	padding: 10px;
	flex: 1;
	span {
		display: block;
	}
	.name {
		font-size: 26px;
	}
	.category {
		font-size: 12px;
		font-weight: 500;
		opacity: 0.6;
	}
	.district {
		font-size: 12px;
		font-weight: 300;
		opacity: 0.6;
	}
}
.LocationWrapper {
	padding: 10px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
