
.name {
	font-weight: 500;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 180px;
}
.category {
	font-size: 12px;
	font-weight: 500;
	opacity: 0.6;
}
.district {
	font-size: 12px;
	font-weight: 300;
	opacity: 0.6;
}
.price {
	font-size: 12px;
	font-weight: 500;
	opacity: 0.8;
	margin-top: 5px;
}
.MapItem {
	width: 100%;	
	display: flex;
	flex-flow: row nowrap;
	background: #162f3e;
	color: #fff;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 1px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(148,148,148,.4);
	-moz-box-shadow: 0px 1px 1px 1px rgba(148,148,148,.4);
	box-shadow: 0px 1px 1px 1px rgba(148,148,148,.4);
	&.hotel {
		background: #312f57;
	}
	.imageWrapper {
		padding: 0;
	}
	.contentWrapper {
		padding: 5px 10px;
		flex: 1;
		span {
			display: block;
		}
		.name {
			font-weight: 500;
			font-size: 12px;
		}
		.Distance {
			text-align: left;
			font-size: 20px;
		}
	}
	.controls {
		float: right;
		position: absolute;
		right: 8px;
		bottom: 5px;
		button {
			color: #fff;
			font-size: 20px;
			padding: 5px;
		}
	}
}