.div {
	display: block;
	padding: 10px;
	.title {
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		display: inline-block;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
	a {
		float: right;
		text-decoration: none;
		color: #fff;
		background: #00A3ff;
		border-radius: 7px;
		padding: 5px 10px;
		font-size: 12px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
		cursor: pointer;
		:global(.icon) {
			font-size: 14px;
			margin-right: 5px;
			margin-top: -8px;
			height: 12px;
		}
		:global(.icon-handy-icon-location) {
			height: 12px;
			margin-top: -14px;
			font-size: 18px;
		}
	}
}
.active {
	display: none;
}